<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section>
        <!-- show if contact is not empty -->
        <div class="card mr-5 ml-3" th:if="${contact}">
            <div class="card-body">
                <h1 class="text-center">Contact Details</h1>

                <div class="container text-center">
                    <span><img th:src="@{${'/uploads/'+contact.image}}" style="height: 200px; width: 200px;" class="my-profile-image" src="" alt="profile image" srcset=""></span>

                    <h3 th:text="${ #strings.toUpperCase(contact.name +' - '+ contact.nicName) }"></h3>

                    <table class="table">

                        <thead>
                          <tr>
                            <th scope="col">#CID</th>
                            <th scope="col">CID00<span th:text="${contact.contactId}"></span></th>
                          </tr>
                        </thead>
          
                        <tbody>
                            <tr>
                                <th scope="row">Email</th>
                                <td th:text="${contact.email}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Phone</th>
                                <td th:text="${contact.phone}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Work</th>
                                <td th:text="${contact.work}"></td>
                            </tr>
         
                        </tbody>  
                    </table>

                    <!-- Description -->
                    <div class="description">
                        <!-- utext is used to resolve HTML -->
                        <th:block th:utext="${contact.description}"></th:block>
                    </div>

                    <div class="container mt-5">
                        <a th:onclick="|deleteContact(${contact.contactId})|" class="btn btn-danger btn-block">Delete</a>
                        <!-- use form for Post method -->
                        <form action="#" 
                                method="post"
                                th:action="@{${'/user/update_contact/'+contact.contactId}}">

                            <button type="submit" class="btn btn-primary btn-block mt-3">Update</button>
                        </form>
                    </div>
                </div>
            </div>    
        </div>

        <!-- show if contact is empty -->
        <div th:unless="${contact}" class="mt-5 ml-3 mr-5 bg-danger text-center text-white rounded">
            <p class="p-3">This is not your contact !!</p>
        </div>
    </section>
</body>
</html>


