<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">

                    <div class="my-card mt-3">

                        <!-- invalid username error -->
                        <div th:if="${param.error}" class="alert alert-danger">
                            <p class="text-center">Invalid username and password.</p>   
                        </div>

                        <!-- logout success -->
                        <div th:if="${param.logout}" class="alert alert-success">
                            <p class="text-center">You have been logout.</p>   
                        </div>

                        <h1 class="text-center">Login Here</h1>

                        <!-- Login Form -->

                        <!-- Spring Security automatically maps name="username" to the username field -->
                        <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label for="username">Email / Username</label>
                                <input type="text" 
                                id="username" 
                                name="username" 
                                class="form-control" 
                                required>
                            </div>
                            
                            <!-- Spring Security automatically maps name="password" to the password field -->
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" 
                                id="password" 
                                name="password" 
                                class="form-control" 
                                required>
                            </div>

                            <!-- Forgot password link -->
                            <div>
                                <a href="/forgot-password">Forgot Password</a>
                            </div>

                            <!-- On submit, Spring Security processes authentication with the provided username & password -->
                            <button type="submit" class="btn bg-primary text-white mt-5">Login</button>
                        </form>

                        <!-- Signup link -->
                        <p>Don't have an account? <a th:href="@{/signup}">Sign up here</a></p>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>

</html>