<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">

                    <div class="my-card mt-3">

                        <h1 class="text-center text-primary">Reset Your Password</h1>
                        <p class="text-center text-muted mb-4">
                            Enter your new password.
                        </p>

                        <form th:action="@{/process-reset-password}" method="post">
                            <input type="hidden" name="email" th:value="${email}" />  <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password"
                                       id="newPassword"
                                       name="newPassword"
                                       class="form-control"
                                       placeholder="Enter New Password"
                                       required />
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm New Password</label>
                                <input type="password"
                                       id="confirmPassword"
                                       name="confirmPassword"
                                       class="form-control"
                                       placeholder="Confirm New Password"
                                       required />
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn bg-primary text-white mt-3">Reset Password</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </section>
</body>

</html>
